@model IEnumerable<Core.ViewModels.MediaGalleryViewModel>
@{
    ViewData["Title"] = "MediaGallery";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}


<main id="main" class="main">
    <div class="pagetitle">
        <h1>Media Gallery</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">Home</a></li>
                <li class="breadcrumb-item active">Media Gallery</li>

            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="mb-5" style="float: right">
        @*  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#profileModal">Add Event</button> *@
        <button type="button" class="btn btn-outline-success mb-5" data-toggle="modal" data-target="#MediaModal">Add Media Image</button>
    </div>

    <div class="container mt-10">
        <div class="container mt-5">
            <div class="row mt-5">
                @if (Model != null && Model?.Count() > 0)
                {
                    <h3 class="font-weight-bold lead"> Media Images </h3>
                    @foreach (var images in Model)
                    {
                        <div class="col-lg-6 col-sm-12">
                            <div class="card" style="width:100%">
                                <img class="card-img-top" src="@images?.MediaImage" alt="Card image" style="width:100%">

                                <div class="card-body text-center">
                                    <h4 class="card-title">@images?.MediaTitle</h4>
                                    <div class="mt-0">
                                        @*  <a href="#" class="btn btn-primary btn-sm" title="Edit Media"><i class="bi bi-pencil"></i></a> *@
                                        <a class="btn btn-danger btn-lg" title="Delete Media" data-toggle="modal" 
                                            data-target="#delete_media" onclick="MediaToDelete('@images?.Id')">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

   @*  <div class="container mt-10">
        <div class="container mt-5">
            <div class="row">
                @if (Model != null && Model.Count() > 0)
                {
                    <h3 class="font-weight-bold lead"> Media Videos </h3>
                    @foreach (var videos in Model)
                    {
                        <div class="col-lg-6 col-sm-12">
                            <div class="card" style="width:100%">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="@videos?.Video"></iframe>
                                </div>
                                <div class="card-body text-center">
                                    <h4 class="card-title">@videos?.MediaTitle</h4>
                                    <div class="mt-0">
                                         <a href="#" class="btn btn-primary btn-sm" title="Edit Media"><i class="bi bi-pencil"></i></a> 
                                        <a class="btn btn-danger btn-lg" title="Delete Media" data-toggle="modal"
                                            data-target="#delete_media" onclick="MediaToDelete('@videos?.Id')">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                    </div>
                                </div>
                                

                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div> *@

</main>
<!-- End #main -->

<div class="modal fade" id="MediaModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header text-center bg-success text-white">
                <h5 class="modal-title" id="profileModalLabel">Add Media Image </h5>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputName">Media Title</label>
                            <input type="text" class="form-control" id="mediaTitle" placeholder="Enter Media Title">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputBio">Media Image </label>
                            <input type="file" class="form-control" id="mediaImage" placeholder="Choose image">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-success offset-4" onclick="AddMedia()"> Add Media </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->

<div class="modal fade" id="delete_media" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> <b> Delete Media </b> </h5>
               @*  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
            </div>
            <div class="modal-body">
                <p class="text-center">Are you sure you want to delete?</p>
                <div class="modal-btn delete-action">
                    <div class="row m-auto">
                        <input class="form-control" hidden type="text" id="media_Id">
                        <div class="col-6">
                            <a class="btn btn-outline-success rounded-pill p-2 d-block" onclick="DeleteMedia()">Delete</a>
                        </div>
                        <div class="col-6">
                            <a data-dismiss="modal" class="btn btn-outline-success rounded-pill p-2 d-block">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /Delete Modal -->