@model IEnumerable<Core.ViewModels.BibleStudyViewModel>
@{
    ViewData["Title"] = "BibleStudy";
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_UserDashboardLayout.cshtml";
    }
}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>BibleStudy</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">Home</a></li>
                <li class="breadcrumb-item active">BibleStudy</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="container mt-10">
        <div class="container mt-5">
            <div class="row">
                @if (Model != null && Model.Any())
                {
                    <h2 class="text-center mt-5 mb-5 font-weight-bold">Bible Study</h2>

                    @foreach (var bibleStudy in Model)
                    {
                        <div class="col-lg-12 col-sm-12">
                            <div class="card p-4" style="width:100%">
                                <div class="card-body d-flex">
                                    <span class="font-weight-bold">@bibleStudy.Title :</span>
                                    <p class="card-text ml-4">@bibleStudy.Details <i> <b> <small>  Requested by @bibleStudy.UserId</small></b></i></p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</main>
