@inject Logic.IHelpers.IUserHelper _userHelper;
@model Core.ViewModels.DiscussionForumViewModel


@{
    ViewData["Title"] = "Discussion";
    Layout = "~/Views/Shared/_LayoutTwo.cshtml";

    var loggedInUser = _userHelper.FindByUserNameAsync(User.Identity.Name).Result;
    var userLike = _userHelper.CheckUserLike(loggedInUser.Id);
}


    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="pagetitle">
            <h1>Discussion</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Discussion Forum</a></li>
                    <li class="breadcrumb-item active">Discussion</li>

                </ol>
            </nav>
        </div><!-- End Page Title -->
            <div class="row g-5">

                <div class="col-lg-8">

                    @if (Model != null)
                    {
                        <article class="blog-details">

                            <h2 class="title">@Model?.SingleDiscussion?.DiscussionTitle</h2>

                            <div class="meta-top">
                                <ul>
                                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a> Added by Admin</a></li>
                                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a><time> @Model?.SingleDiscussion?.DateCreated.ToString("D")</time></a></li>
                                    <li class="d-flex align-items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                                        </svg> <a> @Model?.NoOfLikes</a>
                                    </li>
                                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a> @Model?.NoOfComments</a></li>
                                </ul>
                            </div><!-- End meta top -->

                            <div class="content">
                                <p>
                                    @Model?.SingleDiscussion?.DiscussionDetails
                                </p>

                            </div><!-- End post content -->

                            <div class="meta-bottom">
                            @* <i class="bi bi-lo"></i> *@

                            @if (userLike)
                            {
                                <button style="border: none">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                                    </svg>
                                </button>
                            }
                            else
                            {
                                <button onclick="SaveLike('@Model?.SingleDiscussion?.Id')" style="border: none" id="likeButton">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16" id="heartIcon">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                                    </svg>
                                </button>
                            }

                           @*  <button onclick="SaveLike('@Model?.SingleDiscussion?.Id')" style="border: none" id="likeButton">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16" id="heartIcon">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                                </svg>
                            </button> *@


                            <ul class="tags">
                                <li><a> </a></li>

                            </ul>
                            &nbsp; &nbsp;
                            <i class="bi bi-tags"></i>
                            <ul class="cats">
                                <li><a href="#">Business,</a></li>
                                <li><a href="#">Tips,</a></li>
                            </ul>
                        </div><!-- End meta bottom -->
                        </article>
                    }


                    <div class="mt-5"> 
                        <div class="mt-3"> 
                            <ul>
                            <li class="d-flex align-items-center" style="font-size:1.8em;"><i class="bi bi-chat-dots"></i> &nbsp; &nbsp; <b> Comments </b></li>
                            </ul>
                        </div>

                    @foreach (var comment in Model?.SingleDiscussion?.Comments)
                    {
                            <div class="post-item mt-3 mr-4" style="margin: 30px;">
                                <div>
                                    <h6>@comment?.Message</h6>
                                    <p>Added by @comment?.UserName</p>
                                    <hr />
                                </div>
                            </div>
                        }
                    </div>

                <div class="reply-form mt-3">

                    <h4>Leave a Comment</h4>
                    <p>Your name address will not be published. Required fields are marked* </p>
                    <form>
                        <div class="row mb-3">
                            <div class="col-md-12 form-group">
                                <input id="msgName" type="text" class="form-control p-2" placeholder="Your Name*">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col form-group">
                                <input id="discussion_Id" type="text" class="form-control p-2" value="@Model?.SingleDiscussion?.Id" hidden>
                                <textarea cols="5" rows="5" id="mainComment" class="form-control p-2" placeholder="Your Comment*"></textarea>
                            </div>
                        </div>
                        <button type="button" onclick="CreateComment()" class="btn btn-primary"> Post Comment</button>

                    </form>

                </div>

                </div>

                <div class="col-lg-4">

                    <div class="sidebarr">

                        <div class="sidebarr-item search-form">
                            <h3 class="sidebarr-title">Search</h3>
                            <form action="" class="mt-3">
                                <input type="text">
                                <button type="submit"><i class="bi bi-search"></i></button>
                            </form>
                        </div><!-- End sidebarr search formn-->

                        <div class="sidebarr-item categories">
                            <h3 class="sidebarr-title">Categories</h3>
                            <ul class="mt-3">
                                <li><a href="#">General <span>(25)</span></a></li>
                                <li><a href="#">Lifestyle <span>(12)</span></a></li>
                                <li><a href="#">Travel <span>(5)</span></a></li>
                                <li><a href="#">Design <span>(22)</span></a></li>
                                <li><a href="#">Creative <span>(8)</span></a></li>
                                <li><a href="#">Educaion <span>(14)</span></a></li>
                            </ul>
                        </div><!-- End sidebarr categories-->

                        <div class="sidebarr-item recent-posts">
                            <h3 class="sidebarr-title">Recent Posts</h3>

                            <div class="mt-3">

                                <div class="post-item mt-3">
                                    <img src="assets/img/blog/blog-recent-1.jpg" alt="">
                                    <div>
                                        <h4><a href="blog-details.html">Nihil blanditiis at in nihil autem</a></h4>
                                        <time datetime="2020-01-01">Jan 1, 2020</time>
                                    </div>
                                </div><!-- End recent post item-->

                                <div class="post-item">
                                    <img src="assets/img/blog/blog-recent-2.jpg" alt="">
                                    <div>
                                        <h4><a href="blog-details.html">Quidem autem et impedit</a></h4>
                                        <time datetime="2020-01-01">Jan 1, 2020</time>
                                    </div>
                                </div><!-- End recent post item-->

                                <div class="post-item">
                                    <img src="assets/img/blog/blog-recent-3.jpg" alt="">
                                    <div>
                                        <h4><a href="blog-details.html">Id quia et et ut maxime similique occaecati ut</a></h4>
                                        <time datetime="2020-01-01">Jan 1, 2020</time>
                                    </div>
                                </div><!-- End recent post item-->

                                <div class="post-item">
                                    <img src="assets/img/blog/blog-recent-4.jpg" alt="">
                                    <div>
                                        <h4><a href="blog-details.html">Laborum corporis quo dara net para</a></h4>
                                        <time datetime="2020-01-01">Jan 1, 2020</time>
                                    </div>
                                </div><!-- End recent post item-->

                                <div class="post-item">
                                    <img src="assets/img/blog/blog-recent-5.jpg" alt="">
                                    <div>
                                        <h4><a href="blog-details.html">Et dolores corrupti quae illo quod dolor</a></h4>
                                        <time datetime="2020-01-01">Jan 1, 2020</time>
                                    </div>
                                </div><!-- End recent post item-->

                            </div>

                        </div><!-- End sidebarr recent posts-->

                        <div class="sidebarr-item tags">
                            <h3 class="sidebarr-title">Tags</h3>
                            <ul class="mt-3">
                                <li><a href="#">App</a></li>
                                <li><a href="#">IT</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Mac</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Office</a></li>
                                <li><a href="#">Creative</a></li>
                                <li><a href="#">Studio</a></li>
                                <li><a href="#">Smart</a></li>
                                <li><a href="#">Tips</a></li>
                                <li><a href="#">Marketing</a></li>
                            </ul>
                        </div><!-- End sidebarr tags-->

                    </div><!-- End Blog sidebarr -->

                </div>
            </div>

        </div>
    </section><!-- End Blog Details Section -->
