@model Core.ViewModels.MediaGalleryViewModel
@{
    ViewData["Title"] = "MediaGallery";
    Layout = "~/Views/Shared/_UserDashboardLayout.cshtml";
}


<main id="main" class="main">
    <div class="pagetitle">
        <h1>Media Gallery</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">Home</a></li>
                <li class="breadcrumb-item active">Media Gallery</li>

            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="mb-5" style="float: right">
        @*  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#profileModal">Add Event</button> *@
        @* <button type="button" class="btn btn-outline-success mb-5" data-toggle="modal" data-target="#MediaModal">Add Media Image</button> *@
    </div>

    <div class="container mt-10">
        <div class="container mt-5">
            <div class="row mt-5">
                @if (Model?.AllMedia != null && Model?.AllMedia?.Count() > 0)
                {
                    <h3 class="font-weight-bold lead"> Media Images </h3>
                    @foreach (var images in Model?.AllMedia)
                    {
                        <div class="col-lg-6 col-sm-12">
                            <div class="card" style="width:100%">
                                <img class="card-img-top" src="@images?.MediaImage" alt="Card image" style="width:100%">

                                <div class="card-body text-center">
                                    <h4 class="card-title">@images?.MediaTitle</h4>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

</main>
<!-- End #main -->

