@model IEnumerable<Core.ViewModels.UpComingvents>
@{
    ViewData["Title"] = "UpComingEvents";
    Layout = "~/Views/Shared/_UserDashboardLayout.cshtml";
}

<div class="container mt-5">
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="container">
                    <h2>Stretched Link in Card</h2>
                    <p>Add the .stretched-link class to a link inside the card, and it will make the whole card clickable (the card will act as a link):</p>
                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title"> </h4>
                            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                            <a href="#" class="btn btn-primary stretched-link">See Profile</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
